node_modules
.next
echo "# portfolio-website" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/sadek03/portfolio-website.git
git push -u origin main


git remote add origin https://github.com/sadek03/portfolio-website.git
git branch -M main
git push -u origin main